.mdl-layout__header-row {
    padding: 0 16px;
}

.text_section_title {
    font-weight: bold;
    padding: 8px 8px;
    margin: 0;
}

.no-space{
    padding: 0;
    margin: 0;
}

.machine-cell-container{
    margin: 0;
    padding: 4px;
    width: 120px;
}

.machine-cell {
    margin: 0;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.machine-cell-id{
    padding: 8px 4px;
    font-size: 22px;
}

.machine-cell-text{
    padding: 4px;
}

.machine-status-normal {
    background: #dcedc8;
}

.machine-status-error {
    background: #f8bbd0;
}

.machine-status-offline {
    background: white;
}

.button_float {
    z-index: 10;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
