.mdl-layout__header-row {
    padding: 0 16px;
}

.text_section_title {
    font-weight: bold;
    padding: 8px 8px;
    margin: 0;
}

.mdl-cell{
    margin: 0;
    padding: 8px;
    width: 100%;
}

p{
    margin: 0;
    padding: 0 0 8px 0;
}

.no-space{
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
}

.machine-cell-container{
    margin: 0;
    padding: 4px;
    width: 33.3%;
}

@media (min-width: 500px){
    .machine-cell-container{
        width: 120px;
    }
}

.machine-cell {
    margin: 0;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.machine-cell-id{
    margin: 0;
    padding: 8px 4px;
    font-size: 22px;
}

.mdl-checkbox{
    width: auto;
}

.machine-cell-text{
    padding: 4px;
}

.machine-status-normal {
    background: #b3e5fc;
}

.machine-status-error {
    background: #f8bbd0;
}

.machine-status-offline {
    background: white;
}

.button_float {
    z-index: 10;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
