.mdl-layout__header-row {
    padding: 0 16px;
}

.text_page_title {
    font-weight: bold;
    padding: 8px 8px;
    margin: 0;
}

.mdl-data-table {
    width: 100%;
}
.mdl-data-table th {
    padding: 0 4px 12px 4px;
    text-align: right;
}

.mdl-data-table td{
    padding: 12px 4px;
}

.row_error {
    background: pink;
}

.button_float {
    z-index: 10;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
