.mdl-layout__header-row {
    padding: 0 16px;
}

.setting_title{
    margin: 0;
    padding: 0 8px;
    width: 100%;
    font-weight: bold;
}

.setting_row{
    margin: 0;
    padding: 0 0 8px 0;
    width: 100%;
}

.setting_row_submit{
    margin: 0;
    padding: 0 8px 16px 8px;
    width: 100%;
    text-align: right;
}

.input_half{
    margin: 0;
    padding: 0 8px;
    width: 50%;
}

.button_float {
    z-index: 10;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
